[package]
name = "saito_rust"
version = "0.1.0"
authors = [
    "Clayton Rabenda <clay@saito.tech>",
    "Stephen Peterkins <stephen@saito.tech>"
]
edition = "2018"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3"
chrono = "0.4"
secp256k1 = { version = "0.20.2", features = ["global-context", "serde"] }
sha2 = "0.9.5"
base58 = "0.1.0"
hex = "0.4.3"
lazy_static = "1.4.0"
rand = "0.8.3"
tokio = { version = "1", features = ["full"] }

[features]
test-utilities = []
