name: Rust

on:
  push:
    branches: [main, release]
  pull_request:
    branches: [main, release]

env:
  CARGO_TERM_COLOR: always

jobs:
  rustfmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run code formatting
        run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run clippy code linting
        run: cargo clippy

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Update Rust
        run: rustup update
      - name: Check Rust version
        run: rustc --version
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: GENESIS_PERIOD=200 cargo test --features=test-utilities --verbose
